body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: blanchedalmond;
}

#dogImage {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

